body{
  margin: 0px;
}
.container{
  max-width: 1366px;
}
.container1{
  max-width: 100%;
  background-color: #EC1C24;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
div.container1 img{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container2{
  max-width: 100%;
  background-color: #EC1C24;
  padding-top: 20px;
  z-index: 100;
  display: block;
  padding-bottom: 5px;
}
.centraliza{
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.infos{
  max-width: 100%;
}
.logo img{
  max-width:100%;
}
.logo{
  max-width: 100%;
  float: left;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  padding-right: 20px;
  margin-right: 42px;
}
.pesquisa{
  max-width: 100%;
  background: white;
  width: 400px;
  height: 30px;
  font-style: italic;
  font-size: 12px;
  border: 0;
  padding: 0px;
}
.search{
  max-width: 100%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 0;
  background: url("pesquisa.png") no-repeat center center #3c3b38;
  display: inline;
  float: right;
}
form{
  max-width: 100%;
  display: table;
  margin: 0px;
  padding: 0px;
  float: left;
  max-width: 100%;
  display: block;
  margin-right: 40px;
}
.faq{
  max-width: 100%;
  position: relative;
}
.infos a{
  display: inline;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  color: white;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.infos a:hover{
  color: #edad17;
}
#menu{
  max-width: 100%;
  width:800px;
  display: inline-block;
  position: relative;
}
.container3{
  background: #25739e;
  z-index: 1;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}
.infotext{
  position: relative;
  bottom:2px;
}
div.container3 label{
    font: bold 15px "Helvetica Neue", Sans-Serif;
    margin-right: 30px;
    color: white;
    font-weight: bold;
}
div.container3 img{
  max-width: 100%;
  position: relative;
  top:-4px;
}
div.container3 a{
  font: bold 11px "Helvetica Neue", Sans-Serif;
  text-decoration: none;
  color: white;
  padding-right: 30px;
  display: inline-block;
}
.infos3{
  padding-top: 15px;
  margin: auto;
}
.infotext{
  float: left;
}
.container4{
  max-width: 100%;
  width: 1000;
  margin: 0 auto;
  padding: 30px 0 5px;
}
.container4 h1{
  font-size: 18px;
  color: #58595b;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
}
.container4 a{
  text-decoration: underline;
  color: #a9aaac;
  font-family: bold Helvetica, Trebuchet MS, Arial, sans-serif;
}
div.container4 div.par{
  font-size: 13.5px;
  color: #a9aaac;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
}
div.container4 label{
  font-size: 13.5px;
  color: #a9aaac;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
}
#legenda{
  font-size: 14px;
  font-weight: 700;
  color: #58595b;
  font-family: bold Helvetica, Trebuchet MS, Arial, sans-serif;
}
.pintazul{
  background: #25739e;
  margin-top: 1px;
  max-width: 100%;
  text-align: center;
  float: left;
  width: 175px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin-right: 2px;
  font-size: 14px;
  padding: 12px 0;
  cursor: pointer;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
}
.pintacinza{
  background: #939598;
  margin-top: 1px;
  max-width: 100%;
  text-align: center;
  float: left;
  width: 175px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin-right: 2px;
  font-size: 14px;
  padding: 12px 0;
  cursor: pointer;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
}
.data{
  float: left;
  width: 175px;
  color: #6e6e6e;
  text-decoration: none;
  margin-right: 2px;
  font-size: 14px;
  padding-top: 10px;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}
div.data img{
  padding-left: 10px;
}
div.data h2{
  color: #595959;
  font-size: 14px;
}
div.data label{
  font-family: arial;
  font-weight: 100;
}
div.data p{
  float: right;
  margin: 0 auto;
  padding-top: 5px;
}
.infostable{
  max-width: 100%;
  text-align: center;
  float: left;
  width: 120px;
  color: #595959;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 13px;
}
.tabelacinza{
  max-width: 100%;
  width: 870px;
  background: #eaeaea;
  float: left;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  margin-top: 3px;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}
#image3d{
  width: 44px;
  height: 18px;
  margin-right: 3px;
}
#rei{
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
#cinepic{
  margin-left: 46px;
}
.tabelacinza2{
  max-width: 100%;
  width: 870px;
  background: #eaeaea;
  float: left;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  margin-top: 3px;
  display: inline-block;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}
.tabelacinza3{
  max-width: 100%;
  width: 870px;
  background: #eaeaea;
  float: left;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  margin-top: 3px;
  display: inline-block;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
}
.cinzaescuro{
  max-width: 100%;
  width: 985px;
  float: left;
  display: block;
  margin-top: 3px;
  background-color: #777777;
  height: 47px;
  padding: 8px;
}
div.cinzaescuro span{
  max-width: 100%;
  display: block;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  color: white;
  font-size: 14px;
  he
}
.nomefilme{
  max-width: 100%;
  text-decoration: none;
  float: left;
  vertical-align: middle;
  max-width: 100%;
  width: 223px;
  padding: 0 10px;
  margin-right: 90px;
}
#piratas{
  width: 220px;
}
#pirata{
  width: 220px;
  margin-right: 40px;
}
#piratasinfos{
  margin-left: -6px;
}
.nomefilme span{
  max-width: 100%;
  background: url("arrow-programacao.png") no-repeat center left;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  color: #595959;
  position: relative;
}
.comprar{
  background: url("ico-buy.png") no-repeat center center #eb1c24;
  width: 63px;
  height: 63px;
  float: left;
  margin-left: 2px;
}
.classificacao-quatorze{
  width: 63px;
  height: 63px;
  float: left;
  margin-left: 2px;
  background: url("classificacao-quatorze.png") no-repeat center center #f79136;
}
.classificacao-doze{
  width: 63px;
  height: 63px;
  float: left;
  margin-left: 2px;
  background: url("classificacao-doze.png") no-repeat center center #e7c210;
}
.imagesfloat{
  float: left;
  margin-top: 3px;
  max-width: 100%;
}
.container6{
  max-width: 100%;
  float: left;
  display: inline-block;
  padding-top: 50px;
}
.part1{
  max-width: 100%;
  float: left;
  width: 560px;
}
.part2{
  max-width: 100%;
  float: left;
  position: relative;
  margin-left: 5px;
}
#tituloazul{
  max-width: 100%;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  color: #0085c8;
  font-size: 14px;
  position: relative;
  bottom: 9px;
  width: 379px;
}
.container6 p{
  max-width: 100%;
  display: block;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 13px;
  color: #595959;
}
.espaco{
  height: 10px;
}
.amarelo{
  max-width: 100%;
  width: 460px;
  padding: 8px 0;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fdba13;
  text-align: center;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  color:white;
  margin-bottom: 20px;
}
.amarelo2{
  max-width: 100%;
  width: 430px;
  padding: 8px 0;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fdba13;
  text-align: center;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  color:white;
  margin-bottom: 20px;
}
.container7{
  margin-top: 50px;
  width: 100%;
  display: block;
  position: relative;
  background-color: #f4f4f4;
  float: left;
}
.topotitulo{
  margin-top: 33px;
  display: block;
  color: #ec1c24;
  position: relative;
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 14px;
  font-weight: 590;
  padding: 12px 0;
}
#mapa{
  float: left;
    margin-left: 10px;
}
#newstitle{
  margin-bottom: 10px;
    margin-left: 10px;
}
.newsletter{
  position: relative;
  float: right;
  display: block;
}
.newsletter span{
  float: left;
}
.newsletter form{
  margin-top: -8px;
  position: relative;
  display: block
}
#newsinput{
  border: 1px solid #aaabad;
  color: #808285;
  font-size: 10px;
  padding: 7px;
  width: 120px;
  margin-left: 8px;
  vertical-align: middle;
}
#newsok{
  background: #EC1C24;
  color: #FFFFFF;
  height: 28px;
  width: 33px;
  border: 0;
  cursor: pointer;
  position: relative;
  font-weight: 700;
}
.hr{
  border-bottom: 1px solid #ec1c24;
  display: block;
  float: left;
  width: 97%;
  margin-top: 2px;
}
.legendas{
  float: left;
  display: block;
  position: relative;
  padding-top: 10px;
}
.legendas a{
  font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
  color: #595959;
  display: block;
  text-decoration: none;
  font-size: 13px;
  padding-bottom: 3px;
}
.leg{
  float: left;
  margin-right: 50px;
  display: block;
  position: relative;
}
#marginleg{
  padding-right: 40px;
}
